@model List<Sheep>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-bg-primary">
                Sheep
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Sheep" asp-action="AddSheep" class="btn btn-primary"><i class="bi bi-clipboard2-plus"></i>Add Sheep</a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Farm Tag
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.FarmTag</td>
                <td>@obj.Name</td>
            </tr>
        }
    </tbody>
</table>
</div>